<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Search</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<style>

    html, body {
       height: auto;
    }

    div {
        min-height: 100%;
        height: auto;
        width: 800px;
        margin: 0 auto -142px;
    }

</style>


<body>

<div>
    <div>
        {% if error %}
        <p>Something went wrong! Search again</p>
        {% endif %}

        <h2>Search any Youtube video and play on infinite repeat!</h2>

        <form action="search/" method="get">
            {{ form }}
            <input type="submit" value="Search"/>
        </form>

        <br>

        <div>
            <h3>Most Viewed Videos</h3>

            <ul id="mostViewed" style="list-style-type: none;">
            </ul>

        </div>

    </div>

</div>

<script>
    $( document ).ready(function() {
        $.get("/vids/most-repeated-videos/", function(data, status){
            $.each(data["video_list"], function(index, value){
                var thumbnail_img_url = "https://i.ytimg.com/vi/" + value[0] + "/hqdefault.jpg";
                var img_tag = "<img src=" + thumbnail_img_url + " alt='" + value[1] + "' width='150' height='100'>";
                var list_item_tag = "<li><a href='/vids/watch/" + value[0] + "/'>" + img_tag + value[1] + "</a></li>";
                $('#mostViewed').append(list_item_tag);
            });
            //$("#mostViewed").append(data["repeat_count"]);
        });
    });
</script>

</body>
</html>